
<div class="d-flex pt-3 px-2 justify-content-sm-between">
<h1><%= @list.name %></h1>

<div class="buttons">
  <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "text-decoration-none btn btn-flat" %>
  <%= link_to "Delete List",
    list_path(@list),
    class: "text-decoration-none btn btn-delete-list", data: {turbo_method: :delete, turbo_confirm: "This will delete the whole list"}
  %>

</div>

</div>

<div class="card">
  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="col-12 col-md-4 col-sm-6 col-lg-3">
        <div class="card-movie mx-3">
          <%= image_tag(movie.poster_url) %>

          <div class="card-movie-info">
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>

          <% @list.bookmarks.each do |bookmark| %>
            <div class="movie-comment">
              <% if  movie.id == bookmark.movie_id %>
                <h3>Comment</h3>
                <p> <%= bookmark.comment %> </p>
                <div class="delete">
                  <%= link_to "Delete",
                    bookmark_path(bookmark),
                    class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
</div>
